a{
    text-decoration: none;
}
.buildCont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 3vh;
    padding: 1vw;
}
.buildCont a div{
    justify-content: center;
    align-items: center;
    padding: 1vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    border: 0.2vw solid transparent; 
    transition: all 0.2s;
    background-color: #272727;
}
.buildCont div:hover{
    background-color: #1f1f1f;
    border: #dc0000 0.2vw solid;
    transform: scale(1.05);
    z-index: 2;
}
.buildCont a div img{
    width: 25vw;
}
.buildCont h2{
    display: inline-block;
}
#mainCont{
    border: #dc0000 0.2vw solid;
    margin: 5vh 5vw;
    background-color: #272727;
}
#mainCont h1{
    margin-bottom: 3vh;
}