body{
	background-color: #272727;
}
::-webkit-scrollbar{
    width: 15px;
	background: #1f1f1f;
}
::-webkit-scrollbar-track{
    margin-block: 0em;
    background: none;
}
::-webkit-scrollbar-thumb{
    background: #DC0000;
}
#menu {
	background: #1f1f1f;
	height: 55px;
	border-radius: 10px;
	border: 0.2vw solid #DC0000; 
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: center;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 55px;
	padding: 0 34px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 24px;
	text-transform: uppercase;
    text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #FFFFFF;
	background: #050505;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 55px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 55px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
h1{
	text-align: center;
    color: white;
    font-size: 6vw;
    margin: 0;
    text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
}
h1:hover{
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.77);
}
h2{
	text-align: center;
    color: white;
    font-size: 3vw;
    margin: 0 0;
    text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
}
h2:hover{
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.77)
}
@keyframes page_load_anim{
	from{
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}
body *{
	animation-name: page_load_anim;
	animation-duration: 0.25s;
	animation-timing-function: ease-out;
	transition: all 0.2s;
}
#footer{
    margin: 3vh 5vw;
    border-radius: 5px;
    padding: 0.5vw 5vw;
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
	justify-content: space-between;
}
#footer div{
	width: max-content;
    display: flex;
    flex-direction: column;
    width: 25vw;
}
#footer img{
    width: 25vw;
}
#footer h3{
	width: max-content;
	color: white;
    text-align: start;
    font-size: 1.3vw;
    text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
	margin: 2vh 0;
}
#footer h3:hover{
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.77);
}
#footer h4{
	font-weight: 100;
	margin: 1vh 0;
	color: white;
    text-align: start;
    font-size: 1vw;
    text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
}
#footer h4:hover{
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.77);
}
#donations{
	margin-top: 7vh;
}
#donations button {
	font-size: 1vw;
	text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
	color: #e1e1e1;
	font-family: inherit;
	font-weight: 800;
	width: max-content;
	cursor: pointer;
	position: relative;
	border: none;
	background: none;
	text-transform: uppercase;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: color;
}
#donations button:focus,#donations button:hover {
	color: #fff;
}
#donations button:focus:after,#donations button:hover:after {
	width: 100%;
	left: 0%;
}
#donations button:after {
	content: "";
	pointer-events: none;
	bottom: -2px;
	left: 50%;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #fff;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: width, left;
}
#footer #socialCont{
	display: flex;
	flex-direction: row;
}
.socialButton{
	color: white;
	font-size: 1vw;
	margin-right: 0.4vw;
	width: max-content;
	padding: 0.3vw;
	transition: all 0.2s;
	border-radius: 2px;
}
#linkPortfolio{
	background-color: #1f1f1f;
	color: white;
	border: #DC0000 0.1vw solid;
}
#linkPortfolio:hover{
	background-color: #151515;
}
#linkGithub{
	background-color: #2f2f2f;
	color: white;
	border: #000000 0.1vw solid;
}
#linkGithub:hover{
	background-color: #1f1f1f;
}
#linkYt{
	background-color: #DC0000;
	border: #000000 0.1vw solid;
}
#linkYt:hover{
	background-color: #a10000;
}
#linkDiscord{
	background-color: #303bbb;
	border: white 0.1vw solid;
}
#linkDiscord:hover{
	background-color: #22296d;
}
#linkInsta{
	background: linear-gradient(90deg, rgba(53,96,211,1) 0%, rgba(207,39,190,1) 49%, rgba(208,44,187,1) 63%, rgba(241,190,77,1) 100%);
	border: white 0.1vw solid;
}
#linkInsta:hover{
	background: linear-gradient(90deg, rgba(38,70,158,1) 0%, rgb(139, 28, 128) 49%, rgb(153, 34, 137) 63%, rgb(165, 122, 29) 100%);
}
#fnt{
	text-align: center;
	color: white;
	font-size: 1vw;
	margin-bottom: 3vh;
    text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
}
#fnt:hover{
    text-shadow: 5px 3px 3px rgba(0,0,0,0.77);
}
#flexrow{
	flex-direction: row !important;
}
#red-text{
    color: #DC0000!important;
}
* h5, * h4, * h3{
    text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
}
h5:hover, h4:hover, h3:hover{
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.77)
}
@media screen and (max-width: 1221px){
	#menu {position:relative}
	#menu ul {background:#1f1f1f;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
	#footer{flex-direction: column; justify-content: center;align-items: center;}
	#footer div{width: 80vw; column-gap: 5vw;}
	#footer img{width: 80vw;}
	#footer h3{font-size: 3vh;}
	#footer h4{font-size: 2vh;}
	#donations button{font-size: 2vh;}
	.socialButton{font-size: 1.5vh;}
	#donations{margin-top: 0;}
	#fnt{font-size: 2vh;}
}