#pc-info{
    display: flex;
    margin: 0 10vw;
    margin-top: 5vh;
    background-color: #2f2f2f;
    border: #1f1f1f solid 0.2vw;
    padding: 1vw;
    column-gap: 2vw;
}
#sec-left{
    display: inline;
}
* a{
    text-decoration: none;
}
#sec-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;
}
#sec-right h1{
    font-size: 3vw;
    padding-bottom: 0.5vw;
    border-bottom: #dc0000 solid 0.2vw;
    text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
    text-wrap: wrap;
}
#sec-right h1:hover{
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.77)
}
#sec-right h2{
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.56);
    text-wrap: wrap;
}
#sec-right h2:hover{
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.77)
}
#sec-right div{
    display: grid;
    grid-template-columns: min-content max-content;
}
#pc-info img{
    width: 100%;
    position: relative;
    top: 20%;
}
#pc-info img:hover{
    transform: scale(1.05);
}
#pc-info h4{
    transition: 0.2s all;
    background-color: #2f2f2f;
    color: white;
    font-size: 1.2vw;
    border: #1f1f1f solid 0.2vw;
    margin: 0;
    padding: 0.5vw 0.7vw;
    text-shadow: 5px 3px 3px rgba(0,0,0,0.56);
    text-wrap: wrap;
}
#sec-right button{
    padding: 0.2vw;
    background-color: #2f2f2f;
    border: #dc0000 0.2vw solid;
    border-radius: 0.2vw;
    color: white;
    font-size: 3vw;
    transition: all 0.2s;
}
#v-line{
    width: 0.2vw;
    border-right: #dc0000 0.2vw solid;
}
#pc-info-buttons{
    width: 100%;
    display: flex  !important;
    justify-content: space-between;
    flex-wrap: wrap;
}
#benchmark-title{
    font-size: 5vw;
    background-color: #2f2f2f;
    margin: 0 10vw;
    border: #1f1f1f 0.2vw solid;
    border-bottom: none;
    border-top: none;
}
#benchmark-title:hover{
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.77)
}
#benchmarks{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    margin: 0 10vw;
    background-color: #2f2f2f;
    border: #1f1f1f 0.2vw solid;
    border-top: none;
    padding: 1vw 1vw;
}
#benchmarks a{
    display: inline-block;
}
#benchmarks h5{
    text-align: center;
    flex-basis: 8%;
    padding: 0.5vw;
    color: white;
    font-size: 1.7vw;
    margin: none;
    border: #1f1f1f solid 0.2vw;
    margin: 0;
    padding: 0.5vw 0.7vw;
    transition: all 0.2s;
}
#benchmarks button{
    background-color: #2f2f2f;
    border: #dc0000 0.2vw solid;
    color: white;
    padding: 0.5vw;
    font-size: 1.3vw;
}
#red-text{
    color: #DC0000!important;
}

#pc-info h4:hover, #benchmarks h5:hover, #sec-right button:hover{
    cursor: default;
    background-color: #1f1f1f;
    text-shadow: 18px 13px 15px rgba(0, 0, 0, 0.77);
    border: #dc0000 0.2vw solid;
}
@media (max-width:800px){
    #pc-info{
        margin: 0;
        margin-top: 3vh;
        flex-direction: column;
    }
    #sec-right h1{
        font-size: 4vh;
    }
    #pc-info h4{
        font-size: 2.5vw;
    }
    #sec-right button{
        padding: 0.5vh;
        font-size: 3vw;
        margin: 0 5vw;
    }
    #pc-info-buttons{
        margin-bottom: 2vh;
    }
    #benchmark-title{
        margin: 0;
        padding: 2vh 0;
    }
    #benchmarks{
        margin: 0;
        overflow-x: scroll;
    }
    #benchmarks h5{
        font-size: 2vh;
    }
}